body{
    background-color: black;
    height: auto;
}

#container{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, 0);
}

.name{
    position: absolute;
    text-align: center;
    top: 10%;
    width: auto;
    max-width: 300px;
    margin: 0;
    padding: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition-duration: 0.9s;
}

.name:hover{
    cursor: pointer;
}

.name-altered:hover{
    cursor: pointer;
}

.name-altered{
    position: absolute;
    text-align: center;
    transition-duration: 0.9s;
    left: 50%;
    transform: translate(-50%, -47%);
}

#links{
    width: 250px;
}

.links{
    position: absolute;
    text-align: center;
    width: auto;
    max-width: 300px;
    left: 50%;
    transform: translate(-50%, 40%);
    transition-duration: 0.4s;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    z-index: -1;
}

.links-altered{
    position: absolute;
    text-align: center;
    width: auto;
    max-width: 300px;
    left: 50%;
    transform: translate(-50%, 40%);
    transition-duration: 0.9s;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 100%;
    transition-duration: 1.2s;
    z-index: 1;
    height: auto;
}

.links-altered h2{
    font-family: "arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    vertical-align: center;
    margin: 0;
    
    color: white;
}

.links h2{
    font-family: "arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    vertical-align: center;
    margin: 0;
    
    color: white;
}

.links h2:first-child{
    transform: scale(1,0.78);
}

.links-altered h2:first-child{
    transform: scale(1,0.78);
}

.links-altered h2:hover{
    cursor: pointer;
}

h1{
    font-family: "arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    vertical-align: center;
    padding: 20px;
    margin: 0;
    transform: scale(1,0.78);
    color: white;
}

#socials h2{
    padding: 5px;
}

.socials{
    transition-duration: 2s;
}

.socials-altered{
    transition-duration: 2s;
}

#music{
    position: absolute;

}

.music{
    left: 50%;
    transform: translate(-50%, 75%);
    transition-duration: 0.3s;
}

.music-moved{
    left: 50%;
    transform: translate(-50%, 150%);
    transition-duration: 0.3s;
}

.music-expanded{
    position: relative;
    left: 50%;
    transform: translate(-50%, 54%);
    
}

#albums{
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#albums img{
    width: 100px;
    height: auto;
}

.album-displaynone{
    display: none;
    transition-duration: 0.3s;
}

.albums{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0px 4px;
    transition-duration: 0.3s;
    opacity: 0%;
    pointer-events: auto;
    width: 310px;
    height: 310px;
}

.albums-expanded{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0px 4px;
    transition-duration: 0.3s;
    opacity: 100%;
    pointer-events: auto;
    width: 310px;
    height: 310px;
}

svg{
    fill:white;
}

#svgs{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -20%);
}

.svgs{
    display: none;
    opacity: 0;
    transition-duration: 0.3s;
    z-index: -3;
    pointer-events: none;
}

.svgs-altered{
    opacity: 100;
    transition-duration: 0.45s;
    z-index: 2;
    pointer-events: auto;
}

#svgs a{
    margin: 0px 3px;
}

.lords_kush{
    position: absolute;
    grid-column: 1;
    grid-row: 1;
    transition-duration: 0.5s;
    z-index: 1;
}
.sleeper_build{
    position: absolute;
    grid-column: 2;
    grid-row: 1;
    transition-duration: 0.5s;
    z-index: 1;
}
.titanic{
    position: absolute;
    grid-column: 3;
    grid-row: 1;
    transition-duration: 0.5s;
    z-index: 1;
}
.shabin{
    position: absolute;
    grid-column: 1;
    grid-row: 2;
    transition-duration: 0.5s;
    z-index: 1;
}
.bspt{
    position: absolute;
    grid-column: 2;
    grid-row: 2;
    transition-duration: 0.5s;
    z-index: 1;
}
.blunted{
    position: absolute;
    grid-column: 3;
    grid-row: 2;
    transition-duration: 0.5s;
    z-index: 1;
}
.flexin{
    position: absolute;
    grid-column: 1;
    grid-row: 3;
    transition-duration: 0.5s;
    z-index: 1;
}

.lords_kush_expanded{
    position: absolute;
    transform: translate(105%, -110%) scale(270%);
    height: 120px;
    transition-duration: 0.5s;
    z-index: 5;
    background-color: rgb(180, 171, 159);
}

.lords_kush_expanded img{
    transform: scale(90%);
    transition-duration: 0.5s;
}
.sleeper_build_expanded{
    position: absolute;
    grid-column: 2;
    grid-row: 1;
    transform: translate(0%, -110%) scale(270%);
    height: 120px;
    transition-duration: 0.5s;
    z-index: 5;
    background-color: rgb(180, 171, 159);
}

.sleeper_build_expanded img{
    transform: scale(90%);
    transition-duration: 0.5s;
}

.titanic_expanded{
    position: absolute;
    grid-column: 3;
    grid-row: 1;
    transform: translate(-105%, -110%) scale(270%);
    height: 120px;
    transition-duration: 0.5s;
    z-index: 5;
    background-color: rgb(180, 171, 159);
}

.titanic_expanded img{
    transform: scale(90%);
    transition-duration: 0.5s;
}

.shabin_expanded{
    position: absolute;
    grid-column: 1;
    grid-row: 2;
    transform: translate(105%, -200%) scale(270%);
    height: 120px;
    transition-duration: 0.5s;
    z-index: 5;
    background-color: rgb(180, 171, 159);
}

.shabin_expanded img{
    transform: scale(90%);
    transition-duration: 0.5s;
}

.bspt_expanded{
    position: absolute;
    grid-column: 2;
    grid-row: 2;
    transform: translate(0%, -200%) scale(270%);
    height: 120px;
    transition-duration: 0.5s;
    z-index: 5;
    background-color: rgb(180, 171, 159);
}

.bspt_expanded img{
    transform: scale(90%);
    transition-duration: 0.5s;
}

.blunted_expanded{
    position: absolute;
    grid-column: 3;
    grid-row: 2;
    transform: translate(-105%, -200%) scale(270%);
    height: 120px;
    transition-duration: 0.5s;
    z-index: 5;
    background-color: rgb(180, 171, 159);
}

.blunted_expanded img{
    transform: scale(90%);
    transition-duration: 0.5s;
}

.flexin_expanded{
    position: absolute;
    grid-column: 1;
    grid-row: 3;
    transform: translate(105%, -280%) scale(270%);
    height: 120px;
    transition-duration: 0.5s;
    z-index: 5;
    background-color: rgb(180, 171, 159);
}

.flexin_expanded img{
    transform: scale(90%);
    transition-duration: 0.5s;
}

.music-links{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -17%);
    opacity: 0%;
    transition-duration: 0.2s;
}

.music-links-altered{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -17%);
    opacity: 100%;
    transition-duration: 1s;
}

.music-links a{
    margin: 0px 2px;
}